.hotspot {
  position: absolute;

  cursor: pointer;

  width: 20px;
  height: 20px;
  background-color: black; /* tashqi qora nuqta */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: minmax 1s linear infinite;
}

.hotspot::after {
  content: "";
  width: 7px;
  height: 7px;
  background: white; /* markazdagi oq nuqta */
  border-radius: 50%;
  z-index: 3;
}

.hotspot::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff; /* yarim shaffof oq rang */
  border-radius: 50%;
  animation: pulse 3s infinite;
  z-index: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0); /* sakramasligi uchun 1 dan boshladik */
    opacity: 0.6;
  }
  70% {
    transform: scale(1.8); /* kattalashadi */
    opacity: 0;
  }
  100% {
    transform: scale(0); /* yana boshlang‘ich holat */
    opacity: 0;
  }
}
@keyframes minmax {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.card{
  max-width: 280px;
  width: 100%;
padding: 16px;
cursor: pointer;
pointer-events: none;
}
.card-title{
text-align: center; 
font-size: 20px;
font-weight: 300;
letter-spacing: 2px;

}
.inner-div{
background:#fff;
padding-bottom: 20px;
}
