@import "tailwindcss";

.container {
  max-width: 1340px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.animation {
  background-color: #e2e8f0;
  background: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: skeletonAnimation 1.5s ease-in-out infinite;
}

@keyframes skeletonAnimation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.header__link.active {
  color: white;
}
.react-multiple-carousel__arrow {
  z-index: 5 !important;
}
.calculator,
.telegram{
  z-index: 1200;
}
.text-team{
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
